*.swp
*.bak
*.lock
log.txt
ideas.txt
nohup.out
include/modules/core/sys/config/server.config.php
include/modules/core/sys/config/system.config.php
include/modules/core/sys/config/game.config.php
include/modulemng/modulemng.config.php
gamedata/adminlog_nf.php
gamedata/adminmsg.htm
gamedata/systemmsg.htm
gamedata/modules.list.temp.php
gamedata/modules.list.pass.php
gamedata/combatinfo.php
gamedata/newsinfo.php
gamedata/gameinfo.php
gamedata/banlist.list
gamedata/replays/*.*
gamedata/remote_replays/
gamedata/tmp/
gamedata/cache/
templates/default/itemhelp.htm
templates/default/mixhelp.htm
templates/default/tmp_*.htm

!callmesilly.txt