{template header}
<br>
<style type=text/css>
	h3{color:#98fb98;}
	#changelog p{color:rgb(204,234,250);font-size:12pt;font-weight:bold}
</style>
<div id="changelog" style="width:800px; margin:0 auto; text-align:left;font-size:15px; line-height:22px;">
	<h2>肉鸽模式规则介绍</h2>
	<span>肉鸽模式是基于原有大逃杀规则，结合Roguelite玩法的新游戏模式。<br>由于肉鸽模式目前尚处于测试阶段，数值、难度和机制等可能随时更新。<br> 如果在游玩之中发现了游戏中的BUG或设计不合理之处，请通过官方讨论区或玩家群给予反馈。感谢理解和支持！</span>

	<p>参加游戏：</p>
	<ul>
		<li>通过房间列表新建一个肉鸽模式房间以开始游戏。你也可以参与其他玩家的肉鸽模式房间，但此情况下其他玩家入场更早，因此可能生存难度更高。</li>
		<li>进场之后的初始状态仅有【生命】、【攻防】、【治愈】三个技能，且无法选择内定称号。通过操作区右下的<span class="yellow b">“查看奖励”</span>按钮可以接收开局道具（技能核心），使用后可以选择获得若干个初始技能。</li>
	</ul>
	<p>游戏流程：</p>
	<ul>
		<li>肉鸽模式的基本胜利条件与标准模式相似。你可以击杀所有其他玩家并推进游戏流程以完成<span class="yellow b">幸存结局</span>，也可以进一步继续推进游戏流程以完成<span class="yellow b">PVE结局</span>。</li>
		<li>与标准模式不同的是，游戏流程的推进与角色的发育、道具的获取，主要通过完成<span class="yellow b">任务</span>来获得。</li>
	</ul>
	<p>地图与禁区：</p>
	<ul>
		<li>开局时，除了6个地图之外，其他地图都处于禁区状态。地图需要通过完成<span class="yellow b">任务</span>增加<span class="yellow b">调查度</span>以解锁。</li>
		<li>地图上不会有商店，取而代之的是在特定地点可能刷新<span class="yellow b">商店事件</span>。在商店事件中，可以使用金钱、生命、经验值等属性以交换道具。</li>
	</ul>
	<p>任务系统：</p>
	<ul>
		<li>开局时，每个玩家会获得三个1级任务。通过操作区右下的<span class="yellow b">“查看任务”</span>按钮可以查看当前的任务列表。每个任务有不同的奖励。任务包括击杀NPC、收集道具、使用道具等。</li>
		<li>调查度：<span class="yellow b">调查度</span>代表着游戏的流程推进程度。完成任务会增加玩家的调查度，每个任务增加的调查度会显示在任务奖励中。每个玩家的调查度是独立的，随着玩家调查度的升高，可以接取到等级更高的任务。而游戏的流程由所有玩家的最高调查度决定，每当最高调查度达到特定值，战场中会有新的地区解锁，并且出现新的NPC角色。</li>
		<li>如何获取新的任务：玩家每隔一段时间可以刷新一个任务，也可以支付金钱以无视冷却时间刷新一个任务。每当玩家完成一个任务后，会根据自己的调查度获得新的任务。当玩家可获得的任务等级上升后，会刷新所有任务变为新等级的任务。</li>
	</ul>
	<p>卡片系统：</p>
	<ul>
		<li>通过任务、地图道具、地图事件等可能获得卡牌包或卡片。通过操作区右下的<span class="yellow b">“卡片列表”</span>按钮可以查看当前持有的卡片。</li>
		<li>卡片可以在游戏中使用，以强化自身。卡片使用的规则如下：
			<ul>
				<li>1、使用卡片后会获得该卡片的物品、技能和数值变化，当前卡名、内定称号不变；</li>
				<li>2、使用部分卡片（如Standard Pack中固定内定称号的卡片）只会随机获得一部分技能；</li>
				<li>3、击杀玩家可获得对方所有未使用的卡片，被玩家击杀时会失去所有未使用的卡片。</li>
			</ul>
		</li>
		<li>
			在<span class="yellow b">“卡片列表”</span>中的“卡片合成”功能可以用获得的卡片作为素材，合成得到新的卡片。卡片合成的规则如下：
			<ul>
				<li>1、卡片合成会消耗两张卡片，得到一张新的卡片；</li>
				<li>2、两张稀有度相同（不包括<span class="gold b">S</span>卡）的卡片可合成为一张稀有度高一级的随机卡片；</li>
				<li>3、两张稀有度差一级的卡片可合成为一张稀有度与两者中较高者相同的随机卡片；</li>
				<li>4、特别地，<span class="grey b">M</span>卡能和任何卡合成，得到与那张卡稀有度相同的随机卡片，且两张<span class="grey b">M</span>卡可合成一张随机<span class="gold b">S</span>卡；</li>
				<li>5、部分卡片为特殊的<span class="yellow b">素材卡</span>，无法被使用，仅可在合成中按照卡片上记述的合成效果发挥作用。一次合成中只能包含一张<span class="yellow b">素材卡</span>。</li>
			</ul>
		<li>在游戏结束后，所有玩家会获得本局游戏中自己已使用的和未使用的卡片。无法通过抽卡获得的卡包（Balefire Rekindle和Event Bonus）的卡片会变为卡牌包发放。</li>
	</ul>
</div>
{template footer}