{template header}
<br>
<style type=text/css>
	h3{color:#98fb98;}
	#changelog p{color:rgb(204,234,250);font-size:12pt;font-weight:bold}
</style>
<div id="changelog" style="width:800px; margin:0 auto; text-align:left;font-size:15px; line-height:22px;">
	<h2>荣耀模式测试中机制</h2>
	<span>荣耀模式与大房间相比，会有许多测试中的新游戏机制。在此，整理荣耀模式测试中机制列表如下。<br>希望大家在荣耀模式游玩时，能够多尝试这些新的游戏要素，并在条件允许的情况下通过官方讨论区或玩家群给予反馈。你的声音可能会帮助这些机制进行改良或更快地转正到其他的游戏模式。感谢理解和支持！</span>

	<p>测试中机制列表：</p>
	<ul>
		<li>击杀NPC时，有小概率召唤出一个运载机器人，击破后会得到一些可能较有价值的道具。</li>
		<li>商店杂物页面增加一个歌词卡片《赠送的芙蓉王》，可以歌唱歌曲《勇者》。</li>
		<li>在【索拉利斯】新增一个特殊事件，玩家可以从三个增益中选择一个获得（并支付相应代价），也可以拒绝。无论玩家的选择是什么，事件只会触发一次。</li>
		<li>进行【睡眠】操作时，会根据睡眠时长，获得若干条关于高伤陷阱、重要NPC或随机道具的位置提示信息；进行【治疗】或【静养】操作时，会根据治疗或静养时长，将当前地点若干个敌人、尸体或道具加入临时视野。</li>
		<li>杂兵【各路党派】在开局时可能会自动拾取1-2个本来应该全图随机刷新的地图道具（地图上就不会掉落这些道具了）</li>
		<li>使用移动PC时，除了原先赌概率解除禁区的功能外，还可以通过玩解禁小游戏来解除禁区。</li>
	</ul>
</div>
{template footer}