{template header}
<br>
<style type=text/css>
	h3{color:#98fb98;}
	#changelog p{color:rgb(204,234,250);font-size:12pt;font-weight:bold}
</style>
<div id="changelog" style="width:800px; margin:0 auto; text-align:left;font-size:15px; line-height:22px;">
	<h2>梦境演练规则介绍</h2>
	<span><span class="seagreen b">梦境演练</span>是基于原有大逃杀规则，结合Roguelite玩法的新游戏模式。<br>通过游玩该模式，可获得<span class="lime b">大量切糕和卡片</span>奖励。<br>由于梦境演练模式目前尚处于测试阶段，数值、难度和机制等可能随时更新。<br> 如果在游玩之中发现了游戏中的BUG或设计不合理之处，请通过官方讨论区或玩家群给予反馈。感谢理解和支持！</span>

	<p>参加游戏：</p>
	<ul>
		<li>通过房间列表新建一个<span class="seagreen b">梦境演练</span>房间以开始游戏。</li>
		<li>该模式为单人挑战模式。</li>
		<li>进场之后的初始技能有【生命】、【攻防】、【治愈】、【网购】（可在任意地点访问商店）、【天眼】（战斗中可以看到敌人的生命值等数值）、【解限】（使用强化药物和技能书籍无熟练度限制），且内定称号固定为走路萌物。通过操作区右下的<span class="yellow b">“查看奖励”</span>按钮可以接收开局道具（技能核心），使用后可以选择获得若干个初始技能。</li>
		<li>开局可选择四种不同难度，具体技能和属性变化可在开局选择卡片时查看。</li>
	</ul>
	<p>游戏流程：</p>
	<ul>
		<li>梦境演练的主要流程为击杀11波次的随机生成的敌人，每个波次结束后均可以获得梦境礼盒奖励，使用后可从多个奖励中选择一项获得。</li>
		<li><span class="yellow b">锁定解除</span>结局条件：消灭第11波次的NPC，使用梦境礼盒中获得的<span class="yellow b">“游戏解除钥匙”</span>。</li>
		<li><span class="yellow b">幻境解离</span>结局条件：
			<ul>
				<li>路线1：消灭第11波次的NPC，使用梦境礼盒中获得的<span class="yellow b">梦境的前路</span>以开启第12-16波次，消灭第16波次的NPC后，使用梦境礼盒中获得的<span class="yellow b">“『G.A.M.E.O.V.E.R』”</span>。</li>
				<li>路线2：消灭第11波次的NPC，使用梦境礼盒中获得的<span class="yellow b">干扰设备</span>以解除禁区（通过使用部分卡片或地图道具，也可以获得移动PC或其合成素材以解除禁区），随后可进入英灵殿（无需装备Untainted Glory）挑战黑熊，以获得结局道具。<br>注意：<span class="red b">该路线难度不合理</span>，仅供有兴趣的玩家挑战。</li>
				<li>路线3：在第1波次的梦境礼盒中获得<span class="yellow b">一缕执念</span>并使用。之后击倒第11波次出现的特殊BOSS NPC，以获得结局道具。注意：<span class="lime b">该BOSS NPC具有需要注意的机制，可通过“查看NPC技能”查看</span>。</li>
			</ul>
		</li>
		<li><span class="yellow b">无尽挑战</span>：消灭第16波次的NPC，使用梦境礼盒中获得的<span class="yellow b">“深暗幻想”</span>，之后可挑战无限波次的基于武神和天神模板生成的<span class="red b">极其危险</span>的NPC，并且敌人先攻率会随波次数增加（从第17波次开始每波次+2%，上限为+70%）。</li>
	</ul>
	<p>地图与禁区：</p>
	<ul>
		<li>游戏时间固定为120分钟，120分钟后会自动增加禁区并结束。</li>
		<li>梦境演练模式的地图仅有英灵殿和梦境界线两个地点，开局时英灵殿为禁区。敌人NPC会出现在梦境界线。
		</li>
	</ul>
	<p>NPC相关：</p>
	<ul>
		<li>梦境演练中，敌人NPC是根据一定的模板随机生成的，会持有随机的装备和技能，并有小概率携带一些额外的奖励道具。后续更新会添加新的BOSS NPC，这类NPC的属性和装备相对固定，但同样可能持有随机的额外技能，并且可能有一定程度的属性变化。</li>
	</ul>
	<p>技能核心：</p>
	<ul>
		<li>类别为技能核心的道具在使用后可获得一个称号技能或对应等级（C/B/A/S）的卡片技能，可通过开局发放和梦境礼盒获得。</li>
		<li>技能核心分为两种：一种使用后可从三个符合条件的技能中选择一个学习，另一种使用后随机学习一个符合条件的技能。</li>
	</ul>
	<p>改造核心：</p>
	<ul>
		<li>类别为改造核心的道具在使用后可自选强化手中武器的效果值、耐久值、属性，或让武器获得一些其他的变化。</li>
	</ul>
	<p>卡片系统：</p>
	<ul>
		<li>通过地图道具、梦境礼盒、商店可获得卡牌包或卡片。通过操作区右下的<span class="yellow b">“卡片列表”</span>按钮可以查看当前持有的卡片。</li>
		<li>卡片可以在游戏中使用，以强化自身。获得的卡片<span class="lime b">无论是否被使用</span>（合成消耗掉的卡片除外），均会在游戏结束时通过站内邮件发放给玩家。<br>
		卡片使用的规则如下：
			<ul>
				<li>1、使用卡片后会获得该卡片的<span class="yellow b">物品、技能和数值变化</span>，当前卡名、内定称号不变；</li>
				<li>2、使用部分卡片（如Standard Pack中固定内定称号的卡片）只会随机获得一部分技能；</li>
				<li>3、击杀玩家可获得对方所有未使用的卡片，被玩家击杀时会失去所有未使用的卡片（本模式不涉及）。</li>
			</ul>
		</li>
		<li>根据已使用的同卡包卡片张数，玩家会获得额外的属性奖励，具体效果如下：
			<ul>
				<li>Standard Pack：使用<span class="lime b">1/2/3/4/5/6</span>张，受到伤害<span class="yellow b">-10/20/35/50/70/95%</span>；</li>
				<li>Crimson Swear：使用<span class="lime b">1/2/3/4/5/6</span>张，造成物理伤害<span class="yellow b">+10/30/50/90/150/300%</span>；</li>
				<li>Top Players：使用<span class="lime b">1/2/3/4/5/6</span>张，熟练度附加<span class="yellow b">100/300/800/2000/3600/7200</span>点；</li>
				<li>Way of Life：使用<span class="lime b">1/2/3/4/5/6</span>张，战斗获得经验值<span class="yellow b">+2/6/12/18/30/50</span>；</li>
				<li>Best DOTO：使用<span class="lime b">1/2/3/4/5/6</span>张，先攻率<span class="yellow b">+3/6/10/18/30/50%</span>；</li>
				<li>東埔寨Protoject：使用<span class="lime b">1/2/3/4/5/6</span>张，使用灵系武器攻击时射程<span class="yellow b">+1/2/3/4/5/7</span>；</li>
				<li>Ranmen：使用<span class="lime b">1/2/3/4/5/6</span>张，造成属性伤害<span class="yellow b">+10/30/50/90/150/300%</span>。</li>
			</ul>
		</li>
		<li>使用部分卡片组合后，玩家会获得额外的属性奖励或技能效果，具体效果如下：
			<ul>
				<li>使用<span class="gold b">【『红暮』】</span>、<span class="gold b">【『蓝凝』】</span>后，视为具有<span class="yellow b">火焰</span>、<span class="yellow b">冻气</span>、<span class="yellow b">灼焰</span>、<span class="yellow b">冰华</span>、<span class="yellow b">属穿</span>属性；</li>
				<li>使用<span class="brickred b">【世界制御猫】</span>、<span class="brickred b">【拷贝猫】</span>、<span class="white b">【开门大吉猫咪】</span>、<span class="cyan b">【M18 “地狱猫”】</span>、<span class="cyan b">【铁兽战线·姬特】</span>、<span class="brickred b">【斯洛蒂的盒子】</span>、<span class="white b">【Chipi猫】</span>中的任意<span class="yellow b">3</span>张后，回避率<span class="yellow b">+95%</span>；</li>
				<li>使用<span class="gold b">【虚子】</span>、<span class="cyan b">【熊本熊】</span>、<span class="gold b">【『冰炎』】</span>、<span class="gold b">【"Rimefire"】</span>中的任意<span class="yellow b">2</span>张后，获得技能“<span class="yellow b">暴风</span>”和“<span class="yellow b">直死4</span>”；</li>
				<li>使用<span class="yellow b">4</span>张卡名含有<span class="yellow b">挑战者</span>的卡后，造成物理伤害<span class="yellow b">+150%</span>；</li>
				<li>使用<span class="white b">【G战队·闪光黑】</span>、<span class="brickred b">【烧烤与夜雀与夜色森林】</span>、<span class="cyan b">【上老师】</span>、<span class="gold b">【博丽灵梦】</span>、<span class="gold b">【超魔理沙】</span>、<span class="cyan b">【月战老兵】</span>、<span class="gold b">【八意制药™】</span>、<span class="gold b">【尼特姬】</span>、<span class="gold b">【狱火鸡】</span>中的任意<span class="yellow b">3</span>张后，受到伤害<span class="yellow b">-90%</span>。</li>
			</ul>
		</li>
		<li>
			在<span class="yellow b">“卡片列表”</span>中的“卡片合成”功能可以用获得的卡片作为素材，合成得到新的卡片。卡片合成的规则如下：
			<ul>
				<li>1、卡片合成会消耗两张卡片，得到一张新的卡片；</li>
				<li>2、两张稀有度相同（不包括<span class="gold b">S</span>卡）的卡片可合成为一张稀有度高一级的随机卡片；</li>
				<li>3、两张稀有度差一级的卡片可合成为一张稀有度与两者中较高者相同的随机卡片；</li>
				<li>4、特别地，<span class="grey b">M</span>卡能和任何卡合成，得到与那张卡稀有度相同的随机卡片，且两张<span class="grey b">M</span>卡可合成一张随机<span class="gold b">S</span>卡；</li>
				<li>5、部分卡片为特殊的<span class="yellow b">素材卡</span>，无法被使用，仅可在合成中按照卡片上记述的合成效果发挥作用。一次合成中只能包含一张<span class="yellow b">素材卡</span>。</li>
			</ul>
		<li>在游戏结束后，玩家会获得本局游戏中自己已使用的和未使用的卡片。无法通过抽卡获得的卡包（Balefire Rekindle和Event Bonus）的卡片会变为卡牌包发放。</li>
	</ul>
</div>
{template footer}