<!--
TODO LIST：
BUGs TO FIX：
1、加入房间的过程中退出账号会导致异常的问题
2、某些情况下两个倒计时叠加的问题
3、

LARGE PROJECTS TO ADD:
1、卡片相关的一级php的变量名整理，重构选卡界面，然后SOLO和组队房增加一个选卡页面。
2、公路模式的剧情、敌人、地图和道具的整体模组式策划。
3、执行官改去版权化或者删除，女主和杏仁豆腐去版权化，英灵殿移出主线，剧情和游戏路线相应调整
4、不同类别的商店功能（商店设置组）
5、延时伤害模块，玩家发出攻击指令之后，对方玩家可以有一个非常短的时间窗口进行互动。和2D地图可能是互斥的，看情况了。
6、
7、对php文件里的字符串也进行js编码
8、自定义快捷键功能。
9、
10、
11、开局互动式剧情操作
12、试炼模式进一步优化：更丰富的剧情和特殊挑战层数

LARGE PROJECTS TO ADD BUT NOT THAT IMPORTANT:
-不太急：帮助界面现代化改造，包括左右分栏、内容展开、搜索功能、提示内容数据库化（更新履历、提示、帮助等共用一套用词等）模拟游戏界面和提示、资源类帮助特有界面等
-不太急：缅北模式：卡片五选三（荣耀房开局随机5张卡选3张，或者自选3张：总能量300，S卡3倍，A卡2倍，M卡退还100；如果其他卡都是C或者M卡则可以无视能量进一张S、A、B卡），剧情文案重构，新角色和新的剧情路线。
-不太急：乱斗类房间，不组队，不限人数，开局即连斗
-不太急：录像记录进行状况和聊天。聊天可以自由开关是否记录。不算很急迫的功能，可以等人多了再弄，或者劝诱一个新程序员来弄


FEATURES TO ADD：
1、
2、荣耀模式测试：坚盾属性可抵扣穿透属性，物穿和属穿改成可以叠加穿透层数（类似连击的算法）。抹消和减半各算1层
3、荣耀模式测试：多个减半防御可叠加，并且增加多段减半防御属性。
4、道具展柜改到用户首页也能显示，和成就并列
5、刺激市场的看板娘和界面调整、抽卡界面调整
6、天气模块整体修改，数值平衡调整
7、init_battle()烂代码整理
8、CSS打字机效果
9、动漫婆罗门卡资源完善
10、写一下技能系统和成就系统的文档，新旧差别太大了
11、远期构想：硬核药物模式：使用补给和异常状态药剂时，先进入一个持续数秒的药物debuff，debuff结束后才产生回复效果
12、配合上面那条，可以加一个即时属性，有即时属性的药物的debuff时间极短
13、冲击属性带层数
14、兼容FF的滚动条
15、界面按钮的布局调整（同类合并或者悬浮等）
16、自动log动了以后的讯息恢复机制
17、操作界面的按钮改成自动排序的，而不是现在手动加。已经加了一个用来干这个的函数了，找个空把已有按钮全部干掉
18、本地构建避免覆盖服务端config文件，或者增加一个自动重生成config文件的功能
19、整理包裹调整，结合一键整理包裹，以及u_settings的整理包裹方针。界面调整可以往后放
20、技能图标重置
21、卡牌包类型重写。
22、后台更精确地调整房间可用性的功能
23、陷阱部分的烂代码重写
24、
25、

FEATURES TO ADD BUT NOT THAT IMPORTANT：
-不太急：竞速挑战类成就都增加排行榜。意义好像不是很大
-不太急：连斗机制修改成与$gamestate相互独立的，意义可能不太大，有空再做
-不太急：parse_news()的一大堆if在继承的情况下可能严重影响性能，用数组和替换的方式改造吧。收益可能非常小，真闲的时候再改
-不太急：赛季机制，也就是定期把积分情况改存到荣誉等级。等玩家数多了再弄也行
-不太急：不同房间类型的banner，等界面有一定改造后再做
-不太急：录像存档专用服的建设与转移。
-不太急：诡雷属性。现在人少，PVP类的功能可以迟点弄。
-不太急：伐木记录搜索金钱数、试炼模式记录等级。可以等人多了再弄，或者劝诱一个新程序员来弄。
-不太急：蹲站房发送空投箱，视蹲站房反馈再做。
-不太急：技能、学习界面性能优化（把技能页面的分隔字符串在template时固化下来）。已经实现函数了，但是大规模调整代码之前还是要谨慎一点，而且性能影响可能很微小

-->
<h3>3月31日(v2.3.8)</h3>
<p>功能更新：</p>
<ul>
	<li>（△）卡片【低维生物】的技能【降维】现在不会跳跃到蹲站房了。</li>
	<li>（△）现在玩家在死亡状态下不再会看到技能倒计时图标，以避免一些显示和操作上的问题。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）新增以下卡片：
		<ul>
			<li>邪正人鬼：卡包为東埔寨protoject，C卡，效果是攻击使用使用S卡的玩家时造成伤害+30%，并使对方的操作区在30秒内翻转。</li>
		</ul>
	</li>
	<li>（+）荣耀模式部分NPC改为原创角色，受影响的角色有三名数据碎片（即女主），数据强度总体不变，但装备名称和细节数据有改变。大部分相关的合成也同步更新了，如果有遗漏的请报给管理员。提示纸条暂时没改，等数据稳定了一起调整。</li>
	<li>（+）荣耀模式商店的【KEY社纪念品】专栏增加原属于女主的三张歌词卡片（卡片名是歌名），售价1777元。</li>
	<li>（+）荣耀模式开局道具增加一些零散的捏他装备。</li>
	<li>（+）道具商城新增一些奇怪的饰品（？）。</li>
	<li>（△）荣耀模式的【幻影执行官】全部删除，原本掉落的金钱移至红暮身上，且剧情道具【游戏解除钥匙】现在可以直接在红暮身上拾取获得。</li>
	<li>（△）为蹲站模式中的打牌添加了两个新难度的电脑【牛肉】和【冴月麟MK-V】。（说起来这个打牌真的有人玩吗？）</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了选择已学习配方的界面显示不正确的问题。</li>
	<li>（△）修复了睡眠时按技能图标会导致javascript执行异常的问题。</li>
	<li>（△）修复了枪声、爆炸声、歌声等noise模块的显示完全失效的问题。哪个天然呆程序员把函数名写错了的，出列！原来是我啊，那没事了。</li>
	<li>（△）修复了偶像歌姬称号技能【天籁】在特定情况下可以消耗0点歌魂发动的问题。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（△）将daemon转发cookie数据时的非ascii字符进行了转义，以符合http标准。感谢Martin1994的协助。</li>
	<li>（△）把开头和结局剧情页面分解成了多个文件，更方便整理文案，否则文字量继续增长的话也要变成屎山了。</li>
</ul>


<h3>3月20日(v2.3.7)</h3>
<p>功能更新：</p>
<ul>
	<li>（△）现在游戏界面内提交指令之后，会自动把右侧滚动条拉到最顶部。</li>
	<li>（△）现在临时技能的图标显示时会按第一次激活图标的时间当做开始时间，也就是有总时间显示了。当所有的临时技能都失效，下一次激活临时技能时会重置开始时间。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）新增以下卡片：
		<ul>
			<li>解决麻烦的人：卡包为Way of Life，B卡，效果是对持有任务的玩家（暂时只有卡片【废品战士】和【AI沈阳美食家】）造成最终伤害+50%。</li>
		</ul>
	</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了睡眠找道具功能有时候会因为错误的参数导致游戏崩溃。</li>
	<li>（△）修复了射系武器要求弹药类别不正确的问题。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（△）目前linux和WIN下的两个外部触发器都无法适配比较高版本的php了（WIN的bat可能还不适配比较新的powershell）。求一个批处理高手来重写一下……</li>
</ul>


<h3>3月16日(v2.3.6)</h3>
<p>资源更新：</p>
<ul>
	<li>（+）新增以下卡片：
		<ul>
			<li>Chipi猫：卡包为東埔寨protoject，B卡，效果是每次行动后有概率随机唱一首歌。</li>
		</ul>
	</li>
	<li>（△）荣耀模式的以下测试内容覆盖到了大部分游戏模式中：NPC自动行动、部分称号类别调整、开局道具加强、地图先制率和攻防调整、部分NPC道具调整、野生背包、商店技能书、弹药简化。</li>
	<li>（△）为内定称号【深渊学者】技能【洞悉】的技能说明中添加了具体增加数值的显示，并为技能【入梦】添加了0理智的提示文字。</li>
	<li>（△）现在索拉利斯事件的第二个选项（扣经验值给随机技能）在玩家的经验值不足以抵扣时，只会给六系称号特色技能。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了卡片【野指针】的所属卡包不正确的问题。</li>
	<li>（△）修复了卡片【M18 “地狱猫”】能通过技能获得拳头的问题。</li>
	<li>（△）修复了配方道具无法正常使用的问题。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（△）现在药物和临时技能的图标显示也改用新代码了。临时技能单独提取出来做了一个模块。</li>
	<li>（△）修复了快捷构建工作不正常的问题。</li>
	<li>（△）修复了自动改名功能会对生产环境git pull下来的文件反复生效的问题。现在安装后如果需要开发，请去modulemng.config.php把IN_DEVELOPMENT常量的值改成true。</li>
	<li>（△）修复了php8.2下，称号选择时的一些错误提示。</li>
	<li>（△）修复了【权限狗的ID卡】使用后，如果ID卡的位置被物品覆盖，会发出不正确的进行状况的问题。</li>
	<li>（△）现在任何服务器都只用本地账户来判定权限了。</li>
</ul>



<h3>3月11日(v2.3.5)</h3>
<p>功能更新：</p>
<ul>
	<li>（+）现在帮助页面合成表中具有【秘传】属性的合成有悬浮提示了。</li>
	<li>（+）整理包裹界面重制，节省了点击次数，而且跟道具丢弃功能合并了。感谢邪教徒的贡献。</li>
	<li>（△）睡眠、治疗、静养三个按钮合并进一个悬浮框了，现在鼠标在【睡眠菜单】按钮上方悬浮即可选择对应的指令。这个功能和上面那条整理包裹的功能可能不会反映在录像里，以后有机会再调整。</li>
	<li>（△）极速模式通用技能【一览】（也是卡片【山里灵活の狗】的技能）现在改为必须处于【探物姿态】才会生效。</li>
	<li>（△）为蹲站模式通用技能【欺货】（也是卡片【韭菜】的技能）添加了显示最近10次交易记录的功能，方便回顾交易价格。</li>
	<li>（△）蹲站模式的退出房间功能现在会把退出的玩家杀死，也就是退出的玩家不会显示在幸存界面了。另外给退出按钮增加了一点提示。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）新增以下卡片：
		<ul>
			<li>刀客塔：卡包为Way of Life，M卡，效果是获得深渊学者称号特性「窥秘」和「智识」，但初始理智值为0。</li>
			<li>爆破艺术家：卡包为Way of Life，A卡，效果是获得一次性技能「艺术」：可以将一个仅装有爆炸物的储物道具改造为耐久为1的爆炸物，其效果变为这些爆炸物的效果和，且获得它们的大部分属性。</li>
			<li>废品战士：卡包为Way of Life，B卡，效果是开局获得一个收集特定道具的任务，完成后可获得金钱和切糕奖励。</li>
			<li>AI沈阳美食家：卡包为Way of Life，B卡，效果是开局获得一个<del class="grey">食用</del>使用特定道具的任务，完成后可获得强力的补给道具。</li>
		</ul>
	</li>
	<li>（△）除错模式技能【整备】等级上限从1级改成4级，每次升级需要5点技能点，CD时间从升级后100秒调整为每次升级后分别变为150、120、90和60秒。实际是前期削弱了，但也让除错技能点在后期有点用。</li>
	<li>（△）部分NPC立绘调整了分辨率以适应高DPI显示。</li>
	<li>（△）所有采用新代码的时效类技能，其冷却时间的变化都是从下一次进入冷却时开始生效，也就是在技能已经进入冷却后，如果因为升级等缘故导致冷却时间计算有变化，不会影响本次冷却时间的计时。</li>
	<li>（△）部分技能如【挖坑】等从开局可用改为开局进入冷却，冷却完成后才可用。</li>
	<li>（△）大部分获得随机技能的方式不会再获得技能【尊严】了。</li>
	<li>（△）删去了设置陷阱时“小心，自己也很难发现”的提示，毕竟自己对自己设的陷阱是有更高的回避率的，这个提示不准确，而且挖坑自业自得差不多算生活小常识了吧，不需要提示。</li>
	<li>（△）调整了页面底部的版权和鸣谢部分的显示方式。现在在游戏界面不会显示任何需要点击的链接，在其他界面才会显示，并且鸣谢名单改为点击展开的二级列表显示。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了某些随机选卡的卡会互相选到的问题，现在从机制上就不会选到其他会随机选卡的卡了。</li>
	<li>（△）修复了随机头像有微小概率会选到雪花头像的问题。</li>
	<li>（△）修复了界面调整以后卡片【pop子】动画显示异常的问题。</li>
	<li>（△）修复了在探物姿态，移动后触发再次探索的情况下，已经发动的技能【决战】会扣除双倍殴熟的问题。这个问题一直没有人回报，说明没有人真的喜欢拳法家。</li>
	<li>（△）修复了⑨卡看不到部分NPC头像的问题。这个问题一直没有mtkkk回报，说明mtkkk不是真的喜欢⑨。</li>
	<li>（△）修复了蹲站模式初始武器、技能【搬运】、技能【空想】可能因为配置文件中复合属性中的逗号而工作不正常的问题。</li>
	<li>（△）修复了属性【秘传】在装备外甲、用投掷兵器装箭时不会正常触发的问题。</li>
	<li>（△）修复了卡片【梅尔菲的魔术师】在从储物道具中取出诅咒道具时效果不正常的问题。</li>
	<li>（△）修复了蹲站模式中卡片类别CD不正确的问题。</li>
	<li>（△）修复了深渊学者技能【入梦】会获得已有技能的问题。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（+）现在在modulemng.php里使用[重设代码缓存]功能就会自动识别名字中带日期数字的css和js文件，判定日期新旧程度，然后自动改名和修改header.htm了，这下不需要每次手动修改了。</li>
	<li>（+）新增更快捷的构建功能。现在git稳定版本将会附带一个.tar.gz文件，在生产环境解压这个文件就可以完成[重设代码缓存]构建了。</li>
	<li>（△）异常状态【衰弱】、【灾厄】、【静止】、【眩晕】和【EMP】；技能【共鸣】、【魂音】、【重载】、【整备】、【决战】、【隐身】、【天佑】、【宝槌】、【歼灭】、【通才】和【充能】等技能的状态条显示和时间判定改用新的代码。</li>
	<li>（△）游戏代码针对php8.2.9版本做了适配；codeadv部分针对php8.3作了适配。感谢Martin1994的协助。</li>
	<li>（△）修复了install_NEW.php的若干代码问题。</li>
	<li>（△）修复了管理后台修改pc和npc时候的一些warning和显示问题。</li>
	<li>（△）修复了【空想】技能发动时的一些错误提示。</li>
</ul>



<h3>3月3日(v2.3.4)</h3>
<p>功能更新：</p>
<ul>
	<li>（+）新增一个属性【秘传】，具有该属性的装备会使装备者获得额外的技能，但在该装备卸下或损坏时会失去以此法获得的技能。</li>
	<li>（+）现在可以在用户设置页面调整滚动条样式了，除了默认黑色方角以外还增加了灰色圆角和花纹圆角两种。不过暂时还不支持火狐浏览器。</li>
	<li>（△）角色数据库的基础攻击和基础防御上限从65535调整为16777215。受益者应该有蓝凝、SCP和篝，还有丁香卡。为什么直到4202年了才发现呢……？</li>
	<li>（△）现在蹲站模式的【窥屏用头戴式显示器】在选择窥屏房间之后，左侧装备栏会立刻显示【卸下】按钮，方便快速切换。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）新增以下具有【秘传】属性的复合武器合成：<br><br>
		<table style="width:100%">
			<tr>
				<td class="b1" height=20px><span>素材1</span></td>
				<td class="b1"><span>素材2</span></td>
				<td class="b1"><span>素材3</span></td>
				<td class="b1"></td>
				<td class="b1"><span>合成结果</span></td>
				<td class="b1"><span>用途</span></td>
			</tr>
			<tr>
				<td class="b3" height='19px' title='通过合成获取：空白符卡+☆博丽护符☆'><span>霊符「夢想妙珠」</span></td>
				<td class="b3"title='0禁于守矢神社刷新2个'><span>御币</span></td>
				<td class="b3"title='0禁于幻想世界刷新2个<br>1禁于幻想世界刷新2个'><span>幻之使魔</span></td>
				<td class="b3"><span>→</span></td>
				<td class="b3"><span>妖器「无慈悲御币」</span></td>
				<td class="b3"><span>灵力钝器/200/180/冲击+直击+爆炸+秘传</span></td>
			</tr>
			<tr>
				<td class="b3" height='19px' title='通过合成获取：空白符卡+☆山蘑菇粉☆'><span>星符『星尘狂欢』</span></td>
				<td class="b3"title='0禁于常磐森林刷新2个'><span>蘑菇</span></td>
				<td class="b3"title='0禁于幻想世界刷新2个<br>1禁于幻想世界刷新2个'><span>幻之使魔</span></td>
				<td class="b3"><span>→</span></td>
				<td class="b3"><span>妖器「黑暗火花」</span></td>
				<td class="b3"><span>灵枪/200/180/火焰+灼焰+秘传</span></td>
			</tr>
			<tr>
				<td class="b3" height='19px' title='通过合成获取：空白符卡+★时停怀表★'><span>时符『Private Square』</span></td>
				<td class="b3"title='0禁于永恒的世界刷新2个'><span>『永恒的温柔』</span></td>
				<td class="b3"title='0禁于幻想世界刷新2个<br>1禁于幻想世界刷新2个'><span>幻之使魔</span></td>
				<td class="b3"><span>→</span></td>
				<td class="b3"><span>妖器「银色异次元」</span></td>
				<td class="b3"><span>灵弹/200/180/冻气+冰华+秘传</span></td>
			</tr>
		</table>
		<br>
		妖器「无慈悲御币」、妖器「黑暗火花」、妖器「银色异次元」分别可使装备者获得【灭气】（街头霸王称号技能）、【圣火】（造成火焰/灼焰伤害增加）、【对撞】（灌篮高手称号技能）。
	</li>
	<li>（+）新增以下卡片：
		<ul>
			<li>“踏雪无痕”：卡包为Way of Life，A卡，效果是不会受到触发过的同名陷阱的伤害。</li>
			<li>G.D.S 独立制作人：卡包为Crimson Swear，B卡，效果是使用熟练技能书或熟练药物降低熟练度后，获得使用熟练技能书或熟练药物时无衰减的技能。</li>
			<li>埋伏的G：卡包为Balefire Rekindle，是一张BUG奖励卡，A卡，效果是任何玩家触发你埋设的陷阱后，有70%几率再触发同地点的一个陷阱。</li>
		</ul>
	</li>
	<li>（△）现在所有的BUG奖励卡都改到了【Balefire Rekindle】卡包了。</li>
	<li>（△）现在卡片【富一代】的效果从“开局金钱变为100”改为“开局金钱增加80”。</li>
	<li>（△）现在卡片【D级人员】仅在显示时是“D”级卡片，其他时候仍按C级卡片处理。</li>
	<li>（△）技能【秘药】改为开局进入CD而不能直接使用1次。</li>
	<li>（△）技能【时停】生效中，主动探索到敌人时有独特的提示台词了，另外生效中不会提示敌人无法反击了。</li>
	<li>（△）蹲站房的蓝凝换了新的立绘和装备数据，并且现在会携带一个额外的<del class="grey">没什么用的</del>彩蛋道具。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了因为底层识别问题导致的多态属性悬浮提示显示异常。</li>
	<li>（△）现在卡片【程序员老公】在蹲站房等不存在红暮的地图，开局视野里将没有红暮而全是红薯。</li>
	<li>（△）修复了喊话聊天记录会额外显示一个冒号的问题。</li>
	<li>（△）修复了火狐浏览器关闭悬浮框之后，对应的悬浮提示会残留在画面中的问题，现在关闭悬浮框会同时清除所有的悬浮提示。</li>
	<li>（△）修复了因为快捷键修改导致教程按钮闪烁顺序错乱的问题。现在教程按钮闪烁不再依赖快捷键了。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（+）新增一个GM测试用技能【禁录】用来任选并获得一个技能。厉不厉害我们权限狗。</li>
	<li>（△）技能【剑心】、【突击】、【空想】、【无垢】、【狂击】、【时停】、【决然】、【幽灵】及避难所生命探测器效果的状态条显示和时间判定改用新的代码。</li>
	<li>（△）现在技能【无垢】、【决然】、【无敌】、【突击】及避难所生命探测器效果增加了一个技能标签“buffer”，暂时没用处，只是分类用。</li>
</ul>

<h3>2月26日(v2.3.3)</h3>
<p>版本号到2.3.3了……</p>
<p>功能更新：</p>
<ul>
	<li>（△）现在【多态】属性能悬浮显示该道具能当做哪些东西使用了。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）新增（或者说复刻）了夜雀歌谱、雏人形、被遗忘的伞三个符卡合成，并且增加了可以用作防具或者饰物的后继路线：<br><br>
		<table style="width:100%">
			<tr>
				<td class="b1" height=20px><span>素材1</span></td>
				<td class="b1"><span>素材2</span></td>
				<td class="b1"></td>
				<td class="b1"><span>合成结果</span></td>
				<td class="b1"><span>用途</span></td>
			</tr>
			<tr>
				<td class="b3" height='19px' title='0禁于刷新5个<br>0禁于刷新10个<br>0禁于刷新5个<br>0禁起在商店中出售(5元)<br>打开礼品盒时有概率获得'><span>空白符卡</span></td>
				<td class="b3"title='0禁全图随机刷新2个<br>0禁起在商店中出售(300元)'><span>夜雀歌谱</span></td>
				<td class="b3"><span>→</span></td>
				<td class="b3"><span>声符『枭的夜鸣声』</span></td>
				<td class="b3"><span>灵力兵器/30/∞/音波</span></td>
			</tr>
			<tr>
				<td class="b3" height='19px' title='通过合成获取：空白符卡+夜雀歌谱'><span>声符『枭的夜鸣声』</span></td>
				<td class="b3"title='0禁全图随机刷新10个<br>1禁全图随机刷新17个<br>0禁起在商店中出售(300元)'><span>《灵系指南》</span></td>
				<td class="b3"><span>→</span></td>
				<td class="b3"><span>夜盲『夜雀之歌』</span></td>
				<td class="b3"><span>灵力兵器/30/∞/音波+多态</span></td>
			</tr>
			<tr>
				<td class="b3" height='19px' title='0禁于刷新5个<br>0禁于刷新10个<br>0禁于刷新5个<br>0禁起在商店中出售(5元)<br>打开礼品盒时有概率获得'><span>空白符卡</span></td>
				<td class="b3"title='0禁全图随机刷新2个<br>0禁起在商店中出售(300元)'><span>雏人形</span></td>
				<td class="b3"><span>→</span></td>
				<td class="b3"><span>疵符『破裂的护身符』</span></td>
				<td class="b3"><span>灵力兵器/30/∞/带毒</span></td>
			</tr>
			<tr>
				<td class="b3" height='19px' title='通过合成获取：空白符卡+雏人形'><span>疵符『破裂的护身符』</span></td>
				<td class="b3"title='0禁全图随机刷新10个<br>1禁全图随机刷新17个<br>0禁起在商店中出售(300元)'><span>《灵系指南》</span></td>
				<td class="b3"><span>→</span></td>
				<td class="b3"><span>创符『流刑人形』</span></td>
				<td class="b3"><span>灵力兵器/30/∞/带毒+多态</span></td>
			</tr>
			<tr>
				<td class="b3" height='19px' title='0禁于刷新5个<br>0禁于刷新10个<br>0禁于刷新5个<br>0禁起在商店中出售(5元)<br>打开礼品盒时有概率获得'><span>空白符卡</span></td>
				<td class="b3"title='0禁全图随机刷新2个<br>0禁起在商店中出售(300元)'><span>被遗忘的伞</span></td>
				<td class="b3"><span>→</span></td>
				<td class="b3"><span>伞符『雨伞的星之交响』</span></td>
				<td class="b3"><span>灵力兵器/40/∞/冻气</span></td>
			</tr>
			<tr>
				<td class="b3" height='19px' title='通过合成获取：空白符卡+被遗忘的伞'><span>伞符『雨伞的星之交响』</span></td>
				<td class="b3"title='0禁全图随机刷新10个<br>1禁全图随机刷新17个<br>0禁起在商店中出售(300元)'><span>《灵系指南》</span></td>
				<td class="b3"><span>→</span></td>
				<td class="b3"><span>雨伞『超防水干爽伞妖』</span></td>
				<td class="b3"><span>灵力兵器/40/∞/冻气+防冻+多态</span></td>
			</tr>
		</table>
		<br>其中，夜盲『夜雀之歌』可以作为歌词卡片装备，并允许玩家歌唱【夜雀之歌】（让同地点其他玩家获得60秒的【夜盲】状态）；创符『流刑人形』可以作为饰物装备；雨伞『超防水干爽伞妖』可以作为手臂外甲装备。
	</li>
	<li>（△）调整了合成『诺基亚3210』和『曾经的荣光-诺基亚』的属性，并添加了需要全图随机道具的强化版合成：<br><br>
		<table style="width:100%">
			<tr>
				<td class="b1" height=20px><span>素材1</span></td>
				<td class="b1"><span>素材2</span></td>
				<td class="b1"><span>素材3</span></td>
				<td class="b1"><span>素材4</span></td>
				<td class="b1"><span>素材5</span></td>
				<td class="b1"><span>素材6</span></td>
				<td class="b1"></td>
				<td class="b1"><span>合成结果</span></td>
				<td class="b1"><span>用途</span></td>
			</tr>
			<tr>
				<td class="b3" height='19px' title='通过合成获取：手机+手枪子弹<br>通过合成获取：手机+实体子弹'><span>『诺基亚』</span></td>
				<td class="b3"title='0禁于墓地刷新4个'><span>曾经的荣光-巨盾</span></td>
				<td class="b3"title='0禁起在商店中出售(600元)'><span>防弹背心</span></td>
				<td class="b3"title='0禁起在商店中出售(600元)'><span>防弹背心</span></td>
				<td class="b3"title='0禁起在商店中出售(600元)'><span>防弹背心</span></td>
				<td class="b3"title='0禁起在商店中出售(600元)'><span>防弹背心</span></td>
				<td class="b3"><span>→</span></td>
				<td class="b3"><span>『诺基亚3210』</span></td>
				<td class="b3"><span>钝器/321/9999/冲击+物防+属防+碎甲+菁英</span></td>
			</tr>
			<tr>
				<td class="b3" height='19px' title='通过合成获取：『诺基亚』+曾经的荣光-巨盾+防弹背心+防弹背心+防弹背心+防弹背心<br>并使用『祝福宝石』/『灵魂宝石』强化到[+4]<br>'><span>『诺基亚3210』[+4]</span></td>
				<td class="b3"title='0禁起在商店中出售(32768元)'><span>数据……碎片</span></td>
				<td class="b3"><span>-</span></td>
				<td class="b3"><span>-</span></td>
				<td class="b3"><span>-</span></td>
				<td class="b3"><span>-</span></td>
				<td class="b3"><span>→</span></td>
				<td class="b3" title="<span class='yellow b'>这是一把能当做饰品使用的武器。</span><br>"><span>『曾经的荣光-诺基亚』</span></td>
				<td class="b3"><span>钝器/1865/∞/冲击+物防+属防+防连+碎甲+多态+菁英</span></td>
			</tr>
			<tr>
				<td class="b3" height='19px' title='通过合成获取：『诺基亚』+曾经的荣光-巨盾+防弹背心+防弹背心+防弹背心+防弹背心<br>并使用『祝福宝石』/『灵魂宝石』强化到[+4]<br>'><span>『诺基亚3210』[+4]</span></td>
				<td class="b3"title='0禁起在商店中出售(32768元)'><span>数据……碎片</span></td>
				<td class="b3"title='0禁全图随机刷新1个'><span>★王家之盾★</span></td>
				<td class="b3"><span>-</span></td>
				<td class="b3"><span>-</span></td>
				<td class="b3"><span>-</span></td>
				<td class="b3"><span>→</span></td>
				<td class="b3" title="<span class='yellow b'>这是一把能当做身体防具使用的武器。</span><br>"><span>『曾经的荣光-诺基亚』</span></td>
				<td class="b3"><span>钝器/1865/∞/冲击+物防+属防+防连+碎甲+碎刃+多态+菁英</span></td>
			</tr>
		</table>
	</li>
	<li>（△）作为新增合成路线的对应调整，现在商店的【夜雀歌谱】和【雏人形】价格上升到300元，出售数量调整至每禁100个。</li>
	<li>（△）现在在非主动触发的战斗中由于对方的【碎刃】属性导致武器损耗增加时，会显示在战斗结果的文字提示中了。</li>
	<li>（△）在礼品盒中添加了【棱镜八面体】和另外两种能获得随机技能的特殊道具。</li>
	<li>（△）荣耀模式NPC开局拾取道具的数目从1至3个改为0至2个。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了极速模式禁区间隔时间变为30分钟的问题。</li>
	<li>（△）修复了NPC在战斗中触发变身后会立刻触发NPC行动从而二连玩家的问题。</li>
	<li>（△）修复了【储物】属性的外甲在战斗损坏后【储物】属性会保留在内甲上的问题。</li>
	<li>（△）修复了蹲站模式在洗手间遇到其他玩家显示为队友，但无法正常递送道具的问题。</li>
	<li>（△）修复了卡片【噬魂者】技能效果不正确的问题。</li>
	<li>（△）修复了卡片【八体挑战者】的初始道具工作不正常的问题。</li>
	<li>（△）修复了荣耀模式测试中的NPC开局拾取地图道具功能必定会拾取3个道具的问题。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（△）技能【搬运】【结晶】【鹰眼】【死线】【无敌】和【氪金】的状态条显示和时间判定改用新的代码，可能会出问题，需要观察一下。</li>
</ul>

<h3>2月25日(v2.3.2)</h3>
<p>功能更新：</p>
<ul>
	<li>（△）现在蹲站模式禁用林无月、卡片男、低维生物和星莲船挑战者四张卡。低维生物与马不得入内！</li>
	<li>（△）现在蹲站模式入场使用卡片需要冷却时间了，但冷却时间抵扣80%（即为正常的20%）</li>
	<li>（△）蹲站模式在马桶复活时，如果位置移动过，会像正常移动一样让视野中的东西变为不可见。</li>
	<li>（△）现在蹲站模式中在洗手间无法与其他玩家战斗了。</li>
	<li>（△）卡片【叛逆天人】的技能【天变】现在无法改变蹲站模式的【冷气】天气了。</li>
	<li>（△）卡片【叛逆天人】的技能【地异】现在支持蹲站房了，并且效果修改为会让场上地图出现一个该局固定的偏移量。</li>
	<li>（△）卡片【随机数大神叛军】的技能【随缘】现在支持蹲站房了。</li>
	<li>（△）现在挑战者、常磐之心、D级人员、淡水人鱼等开局位于特定地图的卡，以及卡片【未确认生命态】的技能等改变其他玩家地点的卡片，如果该模式不存在该地点，则会自动转到该模式的第一个地点。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（△）现在道具仓库的【模因原液「彩虹」】使用后除了可使一张卡片完成充能外，还会清空S、A、B稀有度类别的冷却时间。</li>
	<li>（△）调整了部分卡片的文字说明或效果以保持两者一致，例如【富二代】调整了文字说明（实际效果为起始金钱+80元），【掘豆挑战者】的实际效果改为开局生命值为4000（原先为起始生命值+3600），发财挑战者的实际效果改为起始金钱+88元（原先为起始金钱+68）。</li>
	<li>（△）卡片【黄鸡挑战者】的CD下调至50。</li>
	<li>（△）卡片【变态】的默认头像修改。</li>
	<li>（△）微调了蹲站模式中部分涉及具体地点的技能（如【放生】）的文字描述，实际效果不变。</li>	
	<li>（△）把记忆按钮、尸体选项的文字颜色调整得更醒目了。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修正了卡片【硬币】效果失效的问题。</li>
	<li>（△）修正了临时视野边框消失的问题。</li>
	<li>（△）修正了蹲站模式中通过扭蛋获得的★闪熠着光辉的大逃杀卡牌包★的道具属性不正确的问题。</li>
	<li>（△）修正了蹲站模式中<del class="grey">洗手间没网</del>技能【网购】无法正常生效的问题。</li>
	<li>（△）修正了窥屏查看遗言和发送弹幕时地点显示异常的问题。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（△）修改了安装文件install_NEW.php以及安装说明文档readme.md，现在部署的暗坑应该少了一点。</li>
</ul>
<h3>2月24日(v2.3.1)</h3>
<p>功能更新：</p>
<ul>
	<li>（+）新增一种游戏模式【蹲站模式】，特色如下：
		<ul>
			<li>永续房间，和教程一样只能有一个。</li>
			<li>没有获胜条件，主要游戏目的就是在里面玩耍，可以持续进行游玩。</li>
			<li>可以通过道具【窥屏用头戴式显示器】对其他房间进行窥屏（道具开局发放，如果没有获得则可以在商店购买），窥屏时可以向其他房间的聊天框发送弹幕，还可以一键直接转到该房间的进入页面。</li>
			<li>入场自带若干个小游戏技能，可以打发时间。</li>
			<li>特有的地图和道具。</li>
			<li>可以使用卡片入场，不存在卡片CD，可以用来测试卡片。</li>
		</ul>
	</li>
	<li>（△）现在荣耀模式杂兵【各路党派】在开局时会自动拾取1-3个本来应该全图随机刷新的地图道具（地图上就不会掉落这些道具了）。</li>
	<li>（△）现在荣耀模式中使用移动PC时，除了原先赌概率解除禁区的功能外，还可以通过玩解禁小游戏来无风险地解除禁区。</li>
	<li>（△）游戏主界面布局调整：APM、击杀数和受伤状态显示移动到人形生命体力条的下方，给左下角技能图标栏腾出更长的空间。</li>
	
	<li>（△）现在悬浮提示在内容非常长（比如全能骑士成就记录）的时候会增加显示宽度。</li>
	<li>（△）现在访问首页时，如果位于房间，右侧房间表格里对应行的操作会多出一个“退出”按钮而非留空。</li>
	<li>（△）首页和游戏内按钮样式和布局的一些细节调整；战斗头像显示的尺寸调整。</li>
	<li>（△）卡片商店现在不会生成重复的待售卡片了。</li>
	<li>（△）现在伐木和试炼模式入场后将不在队伍中。</li>
	<li>（△）现在如果玩家在一次操作时已经和NPC进行战斗了，那么该NPC将不会因为自动行动而对玩家偷袭。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）新增以下卡片：
		<ul>
			<li>八体挑战者：卡包为Event Bonus，A卡，效果是开局携带一个独特的道具。这张卡片不计入全局成就，目前只能在【蹲站模式】获得。</li>
		</ul>
	</li>
	<li>（△）对应NPC开局拾取道具的修改，荣耀模式杂兵现在不再会携带一大堆药剂了，而是只携带1个耐久1的【紧急药剂】。</li>
	<li>（△）现在日常任务【风祭之旅】将额外发放1个【切糕盒子】，可以在道具仓库使用。</li>
	<li>（△）道具仓库的【天马能量饮料】名称修改为【模因原液「彩虹」】，效果不变。</li>
	<li>（△）极速模式BOSS【狂飙】的图像资源替换为更酷炫了120%的；NPC【一一五】两个阶段的图像资源替换。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）现在除错房可以正常触发【禁忌「Four of a Bread」】等一系列有余物属性的道具的使用后效果了。</li>
	<li>（△）修复了装有箭矢的弓在被改造成无限耐久后无法装箭的问题。</li>
	<li>（△）修正了运载机器人会反击的问题。</li>
	<li>（△）修正了技能【换装】在原先装备的武器为空手时可能工作不正常的问题。</li>
	<li>（△）修正了技能【通灵】可能使已经拥有的技能变为临时技能的问题。</li>
	<li>（△）修正了在等级已达上限后，即使失去经验也会在获得经验后自动回满的问题（好像修不修并没有啥影响）。</li>
	<li>（△）现在DN选头像界面不再会悬浮显示放大版头像了，也就消除了除错模式DN显示红暮头像和大头像不一致的问题。</li>
	<li>（△）修正了索拉利斯事件可能会选到没名字的技能的问题。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（△）现在成就及站内信支持发放道具和饰物了。</li>
	<li>（△）管理界面修改玩家和NPC数据的字段得到了完善。此外给玩家发送站内信的界面增加了快速给附件添加奖励卡片的功能。</li>
	<li>（△）现在给&#36;uip['cmd_buttons']增加数组元素就可以添加新的命令按钮。</li>
</ul>

<h3>2月18日(v2.2.4)</h3>
<p>功能更新：</p>
<ul>
	<li>（+）现在在荣耀模式中，进行【睡眠】操作时，会根据睡眠时长，获得若干条关于高伤陷阱、重要NPC或随机道具的位置提示信息；进行【治疗】或【静养】操作时，会根据治疗或静养时长，将当前地点若干个敌人、尸体或道具加入临时视野。该功能暂时仅在荣耀模式进行测试。</li>
	<li>（△）调整了所有单选框的样式，现在现代化了许多。覆盖整个游戏的改动却几乎只改了CSS就做到了，CSS真香！如果发现哪些功能不正常，请告知管理员。</li>
	<li>（△）新增了头像选择页面。现在修改头像时不再使用下拉菜单，改为展开悬浮框，直接点选头像，并能预览战斗界面显示的长版半身像。</li>
	<li>（△）现在悬浮提示在会超出屏幕的时候，会自动改到反方向显示。</li>
	<li>（△）调整了悬浮提示圆角、悬浮框圆角和滚动条的样式。此外，游戏界面右侧分栏单独加了滚动条，避免收到很长的消息之后需要拉动整个游戏界面才能完全看清，改善游戏体验。</li>
	<li>（△）现在刺激市场的饰品展柜可以卸下饰品了，并且可以摆多个同名饰品在展柜上了。此外给大部分错误都加了对应的提示。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（△）对内定称号【深渊学者】进行了以下调整：
		<ul>
			<li>技能【智识】改为理智值不低于3点时升级获得全系熟练度，低于3点时才会无法获得经验值。</li>
			<li>技能【博闻】的第一次发动现在也会花费技能点，并有50%概率额外花费1点理智值。</li>
			<li>技能【入梦】可以一次性恢复多点理智值与获得多个技能了。</li>
		</ul>
	</li>
	<li>（△）偶像歌姬技能【天籁】现在会在进行状况中显示玩家填入的歌词了。</li>
	<li>（△）卡片【试雪汉】的CD上调至114。</li>
	<li>（△）现在所有的隐藏成就都有对应的图标了。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了通过获得随机技能方式获得【空子】技能的初始技能参数不正确的问题。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（△）放弃了jscrollpane的滚动条组件，并把jquery升级到了1.12.4。</li>
</ul>

<h3>2月16日(v2.2.3)</h3>
<p>功能更新：</p>
<ul>
	<li>（△）后勤商店改名叫【刺激市场】，现在能够通过daemon加速了，在服务器生产环境运行速度将加快。此外调整了部分显示。</li>
	<li>（△）现在注册新用户需要完成一道类似于完形填空的验证问题，用于对付恶意注册。对人类来说应该很简单吧……</li>
	<li>（△）帮助页面的NPC技能悬浮框现在是叠加在NPC列表之上显示的，退出后可以回到NPC列表了。</li>
	<li>（△）首页、入场等界面的一些排版和文字细节调整。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）新增以下卡片：
		<ul>
			<li>跑路大师：卡包为Top Players，A卡，效果是开局称号固定为偶像歌姬，且获得技能【隐身】。</li>
			<li>赌玉挑战者：卡包为Ranmen，B卡，效果是开局获得一个有概率开出强力道具的石头，但如果没开出来……。</li>
			<li>手麻棍哥：卡包为Standard Pack，C卡，效果是获得边缘行者技能「感电」，但使用带电改造的武器攻击时有25%概率使自己麻痹。</li>
			<li>拦路贼：卡包为Standard Pack，C卡，效果是获得黑衣组织技能「淬毒」，但使用带毒改造的武器攻击时有25%概率使自己中毒。</li>
		</ul>
	</li>
	<li>（△）浮云礼盒能开出来的道具得到了一定程度的强化。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了浏览器失去焦点后倒计时会出现较大偏差的问题。</li>
	<li>（△）修复了事件致异常状态会导致奇怪的进行状况的问题，以及每次遭遇索拉利斯的事件必定会获得一个随机称号技能的问题。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（△）bubblebox模块改成纯粹用global.func实现，不再需要载入模块了。</li>
	<li>（△）地图页面已拆分成纯用htm和dz模板来实现，并且现在支持显示多种不同的地图数据组了。</li>
	<li>（△）现在复合属性自动编码的数据里支持直接写半角逗号了，代码会在载入mapitem、shopitem等的时候替换成组合符号，在生成属性之前再换回成半角逗号。此外现在礼品盒也支持复合属性编码了。</li>
	<li>（△）现在modulemng拥有自动分析代码和报告的功能，包括：base模块依赖extra模块、模块没有正确设置函数传参和&#36;chprocess()传参、模块没有返回所需的返回值、模块没有执行&#36;chprocess()等，突出一个用机器代替人脑，诶嘿。此外，基于这一轮分析的结果，调整了大量的代码语句和函数依赖，规范化代码。</li>
</ul>

<h3>2月13日(v2.2.2)</h3>
<p>功能更新：</p>
<ul>
	<li>（+）荣耀模式在【索拉利斯】新增一个特殊事件，玩家可以从三个增益中选择一个获得（并支付相应代价），也可以拒绝。无论玩家的选择是什么，事件只会触发一次。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（△）对内定称号【深渊学者】进行了以下调整：
		<ul>
			<li>技能【博闻】的发动消耗改为花费1点技能点，并有60%概率额外花费1点理智值。</li>
			<li>技能【通才】的解锁等级下调到5级。</li>
		</ul>
	</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了深渊学者技能【入梦】实际解锁等级为0的问题。</li>
	<li>（△）修复了【余物】属性在余物物品为无限耐补给且作为余物物品使用的时候工作不正常的问题。</li>
	<li>（△）修复了卡片商店无法购买平卡的问题。</li>
	<li>（△）尝试修复了游戏结束时会判定临时技能失去，此时某些技能会造成一些匪夷所思问题的情况。</li>
</ul>

<h3>2月12日(v2.2.1)</h3>
<p>功能更新：</p>
<ul>
	
	<li>（+）添加了新的游戏页面【后勤商店】。除了原有的功能抽卡以外，该页面提供以下功能：
		<ul>
			<li>卡片商店：可以用切糕交换卡片，每天会刷新随机8张卡片，其中必定包括S、A、B卡各一张，以及一张闪烁卡，并且可能出现镜碎卡。可交换的卡片列表每天0点更新。</li>
			<li>道具商店：可以用切糕交换一些非游戏中使用的道具，例如消耗切糕使卡片变为闪烁或镜碎，以及为卡片充能的道具；或一些仅有观赏用处（但暂时并没有插图以后也不确定会不会有）的装饰品。</li>
			<li>道具仓库：可以查看或使用拥有的道具和装饰品。装饰品使用后可摆放到展柜中。</li>
			<li>道具展柜：可以展示拥有的卡片、游戏道具或装饰品。游戏道具需要在游戏中使用商店【电子装备】类别中购买的【记录用投影底座】保存到展柜中。</li>
		</ul>
	</li>
	<li>（+）在查看其他玩家的用户资料页面时，可通过新增的【查看他的展柜】按钮，查看该玩家的展柜。</li>
	<li>（△）地图事件模块大改：
		<ul>
			<li>地图事件现在会明确提示造成什么部位受伤、受到什么异常状态、遭到多少伤害和获得了多少金钱等。</li>
			<li>RF高校、雪之镇、清水池、守矢神社、常磐森林、圣G事件调整：现在回避负面影响的概率会随着等级、血量等数值的提升而提升，部分地图的收益也有修改。</li>
			<li>雏菊之丘事件调整：增加了一部分正面结果，被瞪等负面结果的概率有所削减，部分负面结果取消。</li>
			<li>对天使作战用本部、夏之镇、秋之镇这三处纯负面事件删除。</li>
		</ul>
	</li>
	<li>（+）用户资料页面新增一项功能：【游戏设置】，可以调整一些跟游戏内容有关的设置。目前支持调整的设置有以下几项：
		<ul>
			<li>跳过开局剧情：开启后进入任何游戏模式都不再显示开局剧情。</li>
			<li>获得补给时自动合并：开启后获得补给时，如果包裹里有同名补给，就会自动合并而不会提示。对合成补给很有用，但也会自动合并带毒补给，需要注意。</li>
		</ul>
	</li>
	<li>（+）现在极速模式在与敌人交战后仍会保留对敌人的视野，且能在拾取尸体之后保留对尸体的视野了。</li>
	<li>（+）为帮助中合成表中的部分合成添加了额外的悬浮提示，包括禁忌「Four of a Bread」、妖刀【飞叶】和『曾经的荣光-诺基亚』。</li>
	<li>（△）现在所有模式在重访在记忆中但不在视野中的敌人时，有50%概率会无法遭遇（视为敌人已经移动过了）。</li>
	
	<li>（△）角色金钱上限从1600万扩展至42亿。</li>
	<li>（△）微调了用户资料修改页面的排版布局。</li>
	<li>（△）现在进入游戏时，如果“当前卡片暂时不可用”，会显示被锁定的当前卡片，而不是空白。此外卡册界面未解锁的卡片显示也有小幅修改。</li>
	<li>（△）将卡片能量显示改为向下取整，现在卡片能量很接近满的时候也不会显示类似于100/100这样有点奇怪的数值了。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）增加了新内定称号【深渊学者】，称号特色是升级获得全系熟练、学习随机技能，具体技能请到帮助页面查看。</li>
	
	<li>（+）新增以下卡片：
		<ul>
			<li>幻境调查员：卡包为Standard Pack，A卡，效果是称号固定为深渊学者。</li>
			<li>谷泽龙二：卡包为Standard Pack，B卡，效果是只要你入场，所有玩家在正常选择称号时只能选到一般称号。</li>
			<li>随面：卡包为Ranmen，C卡，效果是开局获得一些随机的泡面食材，也可能有一些别的东西。</li>
			<li>增殖挑战者：卡包为Way of Life，A卡，效果是击杀和销毁尸体的角色名字在进行状况中显示为与你相同。</li>
			<li>暗影卫队：卡包为Best DOTO，A卡，效果是攻击造成伤害、击杀角色和销毁尸体不会显示在进行状况中。</li>
			<li>skip党：卡包为Standard Pack，C卡，效果是开局全系熟练度+8，但会跳过开局剧情和地点事件的显示。</li>
			<li>老千：卡包为Ranmen，A卡，效果是连击属性更容易命中较多次。</li>
			<li>首席雕花官：卡包为Event Bonus，是一张BUG奖励卡，B卡，效果是可以将补给品道具变为黄色雏菊/歌魂增加/120/1/天然，但使用效果不变。</li>
		</ul>
	</li>
	<li>（+）大部分模式的商店【电子装备】类别添加了道具【记录用投影底座】，使用后可以选择一个包裹中的道具，将它的投影记录到展柜中。</li>
	<li>（+）荣耀模式商店【书籍】类别添加了技能书《蓄势 ~GEAR UP~》，使用后获得用歌魂交换空歌魂上限的技能，售价20元，以及技能书《变速齿轮》，使用后获得可以选择减少移动和探索体力消耗，或增加移动和探索体力消耗并减少冷却时间的技能，售价1200元。</li>
	
	
	<li>（△）合成表进行了以下调整：
		<ul>
			<li>加强了合成：松茸御饭、咖喱面包、珍珠奶茶、仰望星空派、西瓜刀、霊符「夢想封印」、恋符「极限火花」、土&水符『Noachian Deluge』；</li>
			<li>妖刀【飞叶】和『宝石光束炮-试作型』不再是隐藏合成；</li>
			<li>冰封的『Oathkeeper』或冰封的『Oblivion』与火把的合成变为隐藏合成；</li>
			<li>☆金色闪光☆的合成改回三种不同的高性能激光合成；</li>
			<li>安雅人体冰雕与火把的合成产物变为与武器改造晶体·绯金相同。</li>
		</ul>
	</li>
	<li>（△）卡片【霸道总裁喵】、【麻烦妖精 Sophia】和【大自然的搬运工】的CD下调至150。</li>
	<li>（△）荣耀模式的真职人NPC【便当盒】和【黑色夺魂曲】不再掉落提示纸条，作为代替，【便当盒】的饰品添加了【储物】属性，装着一个使用后获得临时技能【钢化】的状态药物，【黑色夺魂曲】掉落一个有额外概率获得卡片【"KHIBIKI《黑曲》"】的卡牌包。</li>
	<li>（△）开局歌魂增加量调整为30/100，即开局获得30点歌魂和100点歌魂上限。</li>
	<li>（△）对内定称号【偶像歌姬】进行了以下调整：
		<ul>
			<li>技能【激唱】改为每1技能点交换3点歌魂上限了。</li>
			<li>技能【夺目】的附加技能【倾心】改为了负面状态，因此不会对有【镇定】或【免疫】的NPC生效了。</li>
		</ul>
	</li>
	<li>（△）现在黑衣组织【淬毒】和边缘行者【感电】为武器增加属性时，不再有属性数上限了。</li>
	<li>（△）荣耀模式开局道具调整，增加了包括技能书、能力药在内的一系列新道具。</li>
	<li>（△）重新访问视野中的尸体的冷却时间从3秒下调至1.5秒。</li>
	<li>（△）略微调整了【淡定红茶】的属性，现在全部耗尽才会获得杯子，而非原本每次消耗耐久都会获得杯子。（原本是什么变出杯子的魔法吗）</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了黑衣组织技能【渗透】在非自己触发的战斗中未正常生效的问题。</li>
	<li>（△）修复了偶像歌姬技能【夺目】会导致在查看技能表时玩家位置改变的问题。</li>
	<li>（△）修复了肌肉兄贵技能【神速】和【恃勇】通过【幻林】（卡片【阿林百人众】技能）等方式获得时无法被正常解锁的问题。</li>
	<li>（△）修复了卡片【阿林百人众】技能后会复制到一些不合理技能，以及少数复制到的技能会导致技能表页面出错的问题。</li>
	<li>（△）修改了部分NPC技能在玩家使用时的不合理文字提示。</li>
	<li>（△）之前连击信息进行了错误的修正，现在改掉了。</li>
	<li>（△）修复了重设房间模式之后，创建者名字会丢失的问题。</li>
	<li>（△）修复了【余物】属性在多层嵌套时使用效果可能不正常的问题。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（△）合成、npc、卡片等用数组和字符串来记录itmsk的文件里的复合属性自动编码分隔符从半角句点.改回半角逗号,（不会影响判定）。</li>
</ul>


<h3>2月3日(v2.1.2)</h3>
<p>功能更新：</p>
<ul>
	<li>（+）现在除错模式进场后，【除错】按钮在完成第一次除错前会有发光提示。</li>
	<li>（△）降低了除错模式选到不适合的任务道具的概率。可能会导致难度上升，有待观察。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）荣耀模式增加一首歌曲《勇者》，获得方法是商店购买歌词卡片【赠送的芙蓉王】习得，每次演唱需要消耗50歌魂，效果是灵熟+30，其他系熟练都+5。</li>
	<li>（+）对应荣耀模式子弹类型的修改，给【☆简易火箭飞拳☆】的合成增加了一个备选方案（☆金属拳套☆+能量弹药→☆简易火箭飞拳☆）。</li>
	<li>（+）新增以下卡片：
		<ul>
			<li>麦块挑战者：卡包为Ranmen，B卡，效果是开局获得一个特殊的方块。</li>
			<li>梅尔菲的魔术师：卡包为Ranmen，B卡，效果是开局装备一个礼帽，放入储物装备的道具会变成随机的小动物。</li>
			<li>韭菜：卡包为Ranmen，B卡，效果是可以在『欺货市场』买卖特定道具，但这些道具的价格会随机涨跌。（这是一张非常上瘾的看盘神卡）</li>
			<li>春化精：卡包为東埔寨protoject，B卡，效果是进场后直到下一次禁区，所有角色视为随机拥有热恋或同志属性。</li>
			<li>水管工：卡包为Event Bonus，是一张BUG奖励卡，M卡，效果是开局获得三根漏水的水管，修好水管可以获得经验，但某一根水管修理之后会发生意外。</li>
		</ul>
	</li>
	<li>（△）微调了【睿智机器人】等部分卡片的文字描述，实际效果不变。</li>
	<li>（△）卡片【噬魂者】的效果增加：开局携带的面包和矿泉水变为灵魂碎片但效耐降低。</li>
	<li>（△）卡片【姬械匠神】的稀有度由S级下降至A级。</li>
	<li>（△）宝石骑士的【虹光】技能的解锁条件由吸收15个属性下调至12个属性。</li>
	<li>（△）为荣耀模式的全息幻象【幻影斗将神 S.A.S】的掉落物进行了加强，斩神镰·噬日添加了【冻气】属性，并且额外装备一件具有【储物】属性的身体外甲。</li>
	<li>（△）试炼模式的【全息幻象 银白愿天使 Annabelle】身上的卡牌包也改为新版游戏王卡牌包了。</li>
	<li>（△）卡片【肉鸽来客】对应的卡包调整至【Ranmen】，不过本身依然是特殊隐藏卡，并不能真在该卡包抽出。</li>
	<li>（△）调整了选卡界面的排版以支持更多的卡片。</li>
	<li>（△）修正了具有连击属性的武器如果因为各种原因只攻击了1次时的信息显示问题。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了卡片【手办控】的开局道具可能不正常的问题。</li>
	<li>（△）修复了歌姬技能【倾心】的一处显示问题。</li>
	<li>（△）修复了定向8连抽页面的一个排版问题。</li>
	<li>（△）修复了通过【roll点挑战者】以及部分其他方式获得【无垠】技能的初始复活概率不正确的问题。</li>
	<li>（△）修复了技能列表中显示的【圣光】技能解锁等级不正确的问题。</li>
	<li>（△）修复了一一五 i（二阶段）的行动方针实际上是随机追一个玩家的问题，现在她会正常追杀头名了。</li>
	<li>（△）修复了移动以后发送定型文时，发送的地点还是原地点，必须刷新页面才会改变的问题。</li>
	<li>（△）修复了禁区死和挂机死时的遗言会显示重复的地点的问题。</li>
	<li>（△）修复了卡片【拷贝猫】在某些情况下会导致游戏卡死的问题。</li>
	<li>（△）修复了技能【蓄力】的一个记录问题，虽然对游戏本身几乎没有影响。</li>
</ul>

<h3>1月27日(v2.1.1)</h3>
<p>功能更新：</p>
<ul>
	<li>（△）现在妙手天成技能【沉心】和【铸血】发动后，【道具合成】按钮会有发光提示。</li>
	<li>（△）【道具合成】的快捷键修改为C（由于显示长度问题，整个按钮名叫【[C]合成】）；【商店】的快捷键修改为【T】。此外，现在获得道具并提示是否需要合并时，如果包裹里只有一个可以合并的目标，那么快捷键会固定为【A】。</li>
	<li>（△）卡片【沙罗曼蛇的战乙女】的【时停】技能现在不会对同样拥有时间能力的角色生效了。以后可能会追加部分属于时间能力的技能。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）现在X方块或Y方块可与其他方块合成，以获得另两种方块中的一种。具体规律可自行探索。</li>
	<li>（+）现在在荣耀模式击杀NPC时，有小概率召唤出一个运载机器人，击破后会得到一些可能较有价值的道具。</li>
	<li>（+）添加并调整了荣耀模式的地图掉落，现在在RF高校、光坂高校和常磐台中学0禁会刷新1个容量为3的书包，类型为身体外甲，墓地会刷新1个容量为1的魔术礼帽，另外初始之树的带翅膀的书包也加上了容量为2的【储物】属性。</li>
	<li>（+）添加了以随机性为特色的新卡集【Ranmen】，并将部分原有卡片移动到了该卡集中。涉及卡片有：初动、方块挑战者、篝火挑战者、纸条挑战者 林苍月、随机数眷顾者、锁血挑战者、随便、随机数挑战者、俏家人、随机数大神、硬币。</li>
	<li>（+）新增以下卡片：
		<ul>
			<li>大统领：卡包为Standard Pack，S卡，效果是称号固定为铁拳无敌且获得妙手天成技能「魂兵」，但是只能嵌入斩系武器。</li>
			<li>噬魂者：卡包为Way of Life，B卡，效果是销毁尸体时会得到名为灵魂碎片的补给品，但食用其他补给品效果-70%。</li>
			<li>回坑挑战者：卡包为Way of Life，B卡，效果是开局为30级，并获得8点技能点（但是初始经验值不增加）。</li>
			<li>姬械匠神：卡包为東埔寨Protoject，S卡，效果是开局称号为偶像歌姬，但技能为偶像歌姬特性「歌姬」、技能「安魂」「夺目」「回响」和妙手天成特性「妙手」、技能「精工」「沉心」「铸血」。</li>
			
			<li>roll点挑战者：卡包为Ranmen，S卡，效果是开局获得一个只有自己能使用的骰子，使用后可以将自己的所有技能替换为随机技能（少数技能除外）。</li>
			<li>睿智机器人：卡包为Ranmen，A卡，效果是获得宝石骑士技能「晶环」和战斗技「整理」（本次攻击最终伤害+10%，「晶环」生效概率永久+5%。消耗50怒气）。</li>
			<li>阿林百人众：卡包为Ranmen，A卡，效果是开局随机复制并获取场上存活NPC的一项技能（包括称号技能）。</li>
			<li>卡片男：卡包为Ranmen，B卡，效果是开局携带一份随机的卡牌包。</li>
			<li>网络爬虫：卡包为Ranmen，B卡，效果是开局随机复制并获取场上存活NPC包裹中的一件道具。</li>
			<li>拷贝猫：卡包为Ranmen，B卡，效果是开局随机复制并获取场上存活玩家的一项技能（包括称号技能）。</li>
			<li>钓鱼吧老哥：卡包为Ranmen，C卡，效果是开局装备钓鱼杆并携带随机一项渔获。</li>
			<li>手办控：卡包为Ranmen，A卡，效果是开局获得一个能开出特殊饰品的盲盒。</li>
			<li>斯洛蒂的盒子：卡包为Ranmen，B卡，效果是获得一个盒子，投入金钱后有一半概率翻倍，也有一半概率消失。</li>
			<li>甜圈挑战者：卡包为Ranmen，B卡，效果是开局获得一个增加生命上限的甜甜圈，但也可能是别的奇怪的东西。</li>
		</ul>
	</li>
	<li>（+）对应荣耀模式子弹类型的修改，给【诺基亚】的合成增加了一个备选方案（实体子弹+手机=诺基亚）。</li>
	<li>（△）对内定称号【宝石骑士】进行了技能组调整，使【宝石骑士】能够通过技能产出方块和吸收方块强化自身，部分原有技能的等级与数值也有变动，具体请到帮助页面查看。相应地调整了卡片【夏之岛住民】和【梦魇瑞尔提】的技能以保持一致。
	<li>（△）为卡片【初动】、【随机数眷顾者】、道具【四面骰】的随机技能池添加了【偶像歌姬】和【妙手天成】的称号技能以及其他原有内定称号的新增技能。</li>
	
	<li>（△）卡片【宇宙神触】（开局高速成长称号）和【大小姐】（开局铁拳无敌称号）的等级从A卡降为B卡，且前者的能量从80改为100点，后者的能量从130改为150点。</li>
	<li>（△）降低了偶像歌姬技能【安魂】使用歌魂发动时的消耗（现在为10点）。</li>
	<li>（△）调整了偶像歌姬技能【夺目】的文字说明（现在会显示上一次唱歌的地点），实际效果不变。</li>
	<li>（△）富家子弟技能【家教】现在每次更换所学技能都会导致下一次花费金钱翻倍。</li>
	<li>（△）现在妙手天成技能【铸血】不再会提高特殊类别、电子设备和改造道具的效果和耐久值了。</li>
	<li>（△）现在卡片【山里灵活の狗】的技能【一览】（以及极速模式的同名技能）不再是必定发现3个额外道具，而是按当前发现率概率发现0~3个额外道具。</li>
	<li>（△）调整了卡集封面的显示效果。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了【天籁】技能的自定义歌曲对同地图的其他玩家无法生效的问题。</li>
	<li>（△）修复了升级时会失去超出上限的体力的问题。</li>
	<li>（△）修复了御神签会导致正常存活死亡的问题，现在使用御神签不会致死了，至少会保留1点生命值与生命上限。</li>
	<li>（△）修复了全息幻象召唤真身的技能【幻象】在帮助页面与战斗页面不显示的问题。</li>
	<li>（△）修复了拆弹专家技能【谨慎】的增加陷阱回避率效果一直没有生效过的问题。</li>
	<li>（△）修复了临时视野按钮的内阴影效果对火狐浏览器不生效的问题。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（+）新增了一个功能，开发者进行更新时可以关闭整个游戏，只留下登陆和管理两个页面可以进入。此外给错误提示页面加了图标，看起来能好看一点。</li>
	<li>（△）稍微重构了一下js里快捷键的写法，现在新增快捷键只需要修改id，不需要调整js了。</li>
	<li>（△）现在可以从login.php进入一个登陆页面，用于在首页无法登陆（更新）的时候使用。</li>
</ul>

<h3>1月21日(v2.0.7)</h3>
<p>功能更新：</p>
<ul>
	<li>（△）现在【变奏】属性的效果可通过基础姿态进行开关，只有在作战或偷袭姿态时才会生效。</li>
	<li>（△）现在聊天窗口的表情显示高度降到原来的一半，但是鼠标悬浮时会显示完整的表情。此外现在同一次发送表情也遵循不超过60字符的限制（也就是最多12个表情）了。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）增加了新内定称号【妙手天成】，称号特色是合成获得经验值和熟练度、合成（包括配方合成）产物强化、利用多把武器，具体技能请到帮助页面查看。</li>
	<li>（+）新增以下卡片：
		<ul>
			<li>铁兽战线·姬特：卡包为Standard Pack，A卡，效果是称号固定为妙手天成。</li>
		</ul>
	</li>
	<li>（△）对内定称号【偶像歌姬】进行了以下调整：
		<ul>
			<li>上调了称号特性升级时的歌魂回复量。</li>
			<li>现在【激唱】技能改为用技能点交换歌魂上限了。</li>
			<li>现在【强音】技能不要求装备武器才能生效了。</li>
			<li>上调了【天籁】技能的增益效果时间。</li>
		</ul>
	</li>

	<li>（△）日常成就“小制作”现在会额外赠送一张【铁兽战线·姬特】卡片，切糕奖励不变。</li>

	<li>（+）卡册和抽卡界面会展示的卡包增加了图标，方便辨认。</li>

	<li>（+）帮助页面添加了属性【纯粹】、【储物】、【激奏】、【变奏】的介绍。</li>
	<li>（△）调整了试炼模式三个诅咒道具的名字和位置。</li>
	<li>（△）稍微加快了卡片碎闪特效的显示速度。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了【安可】会改变记录的上一次唱的歌名的问题，现在触发【安可】时，复唱记录的依旧是上一次选择的歌曲。</li>
	<li>（△）修复了因为聊天机制修改导致教程模式里杂兵死亡地点提示异常的问题。</li>
	<li>（△）修复了【小苹果】等可能不造成任何增益减益的歌会生成一条空白提示的问题。</li>
</ul>

<h3>1月19日(v2.0.6)</h3>
<p>功能更新：</p>
<ul>
	<li>（+）聊天框增加了发送表情包和定型文的功能，请勿恶用……</li>
	<li>（+）现在用电池可以给手机和笔记本电脑充电了。至于意义……另外，现在卡片【自媒体】在念写时将消耗手机的电力（效果值）而非耐久。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）增加了玩家合成过『C.H.A.O.S』但是幸存或者解禁胜利的结局剧情差分。</li>
	<li>（+）增加了新内定称号【偶像歌姬】，称号特色是歌唱、临时增益、音波属性与属伤增幅，具体技能请到帮助页面查看。</li>
	<li>（+）新增以下卡片：
		<ul>
			<li>野指针：卡包为Event Bonus，是一张BUG奖励卡，B卡，效果是可以进入禁区并在禁区正常行动，但增加禁区时并不会免疫死亡。</li>
			<li>程序员老公：卡包为Event Bonus，是一张BUG奖励卡，C卡，效果是开局携带苹果并且视野里能看到5个红薯。</li>
			<li>菌菌子：卡包为Top Players，A卡，效果是获得高速成长特性【高速】和技能【神功】并且开局装备表情包。</li>
			<li>俏佳人：卡包为Way of Life，C卡，效果是可以用笔记本电脑打电动。</li>
			<li>吉吉国民：卡包为Standard Pack，A卡，效果是称号固定为偶像歌姬。</li>
		</ul>
	</li>
	<li>（△）日常成就“听我唱歌吧”现在会额外赠送一张【吉吉国民】卡片，切糕奖励不变。</li>
	<li>（△）荣耀模式弹药类型简化：原本需要用手枪子弹或机枪子弹的枪械统一改用【实体子弹】，原本需要枪械电池或压缩气罐的枪械统一改用【能量弹药】。地图道具和商店出售的弹药类型相应修改，此外商店的实体子弹现在只有原本机枪子弹的数量，且耐久从20下降为10（相当于售价翻倍）；能量弹药现在只有原本压缩气罐的数量。</li>
	<li>（△）修正了部分成就的文字描述细节。</li>
	<li>（△）荣耀模式不同地图的先制率调整：原本是按“地图热闹程度”判定玩家先制率高低，现在逻辑明确一点：无月之影、指挥中心、梦幻馆、常磐台中学的玩家先制率-5%，SCP和英灵殿则是-10%。因为对难度有影响，先测试一下。</li>
	<li>（△）荣耀模式不同地图的攻击力、防御力修正取消：非常没有存在感的两个数据，先全部取消试试。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）之前忘了把开局和升级增加歌魂的机制推广到其他所有模式，现在这个问题已经解决了。现在标准、卡片、随机、PVE、伐木、SOLO、组队、试炼、荣耀和极速模式在开局都会增加额外50点歌魂和歌魂上限，并且升级时也会增加歌魂上限和恢复少量歌魂。另外，添加了走路萌物升级时不会增加歌魂上限和恢复歌魂的判定。</li>
	<li>（△）尝试修正了随机卡片模式无法完成某个隐藏成就的问题。</li>
	<li>（△）修正了卡片【大自然的搬运工】搬出来的某些带复合属性的道具数据错误的问题。</li>
	<li>（△）修正了卡片【复读机】代码运行时的一系列问题。</li>
	<li>（△）修复了卡片【创世神2009】的【保安】技能查看保安列表无法完全显示的问题。猜猜看这个BUG是怎么出现的。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（△）调整了【权限狗的ID卡】开局的位置，现在权限狗们将从脚底（屁股？）掏出ID卡开始权限。</li>
	<li>（△）大幅度修改了map模块和其他大量涉及禁区的底层判定，对游戏体验没有影响，但或许有助于新功能的搭建。</li>
</ul>

<h3>1月13日(v2.0.5)</h3>
<p>功能更新：</p>
<ul>
	<li>（+）现在在一局游戏中学会第10首歌时，会额外学会一首特殊的歌曲。是什么呢……？</li>
	<li>（△）现在PVE解离模式和伐木模式增加了【尸体拾取设置】选项，允许玩家自定义是否允许尸体拾取后继续留在视野中。此外，组队模式增加了同SOLO模式一样的开局是否连斗的选项。</li>
	<li>（△）现在商店出售的技能书有悬浮使用提示了。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）新增两个日常成就：
		<ul>
			<li>听我唱歌吧：把最大歌魂提升到233点以上。</li>
			<li>扫黑除恶：击杀一次红暮（试炼模式的红暮DUMMY也算）。</li>
		</ul>
	</li>
	<li>（△）游戏结算时的切糕奖励整体上调，基本上是翻倍甚至以上：幸存从40上调至120，解禁从60上调至233，解离从150上调至514（包含了先前因为代码错误而多给的“试炼模式奖励”100），其他胜利方式从40上调至100。</li>
	<li>（△）荣耀模式的部分功能以及商店道具、地图道具和NPC掉落三类数据覆盖到大房间、极速模式、解离模式和伐木模式，主要包含以下内容：。
		<ul>
			<li>荣耀模式第二轮修改过的大量地图道具。</li>
			<li>商店和NPC掉落的【外甲】装备。</li>
			<li>商店的防具改造类装备【R.M.霜铸炎甲】和【自动叠甲装置】。</li>
			<li>带【碎刃】、【碎甲】属性的一系列商店和地图道具（没什么存在感）。</li>
			<li>带【变化】属性的一系列地图道具，主要是一些可以套头的内裤、可以吃的丝袜这样的杂物。另外【变化】属性现在改名叫【多态】（虽然游戏里都看不到）</li>
			<li>带【余物】属性的一系列商店和地图道具。</li>
			<li>带【储物】属性的商店道具【劲爆小包】和少数地图道具。</li>
			<li>带【激奏】、【变奏】的商店和地图道具，以及升级增加歌魂上限功能。</li>
			<li>商店出售的新游戏王卡包。</li>
			<li>商店出售、地图上少量掉落的配方。</li>
			<li>商店出售的新版扫雷设备。</li>
			<li>商店出售、地图上少量掉落的状态药物。</li>
		</ul>
		原本解离、伐木、极速模式的部分特有道具依然保留。后续会逐步完善帮助页面的对应内容。
	</li>

	<li>荣耀模式的《旋转引导扇区》改放到【书籍】页面。</li>
	<li>墓地的诅咒道具【机关傀儡 梦魇】的效耐从10/100调整至500/2。喂玩家吃答辩是不文明行为。如果不得不喂，也请慷慨赴屎，不要少吃多餐。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了任意模式获得解离胜利都会收到【试炼模式胜利】的100切糕奖励邮件的问题。这100切糕现在直接补在解离奖励里了（切糕奖励整体上调）。</li>
	<li>（△）修复了帮助页面称号技能的天赋称号学习技能页面（好绕）里查看技能【神启】时错误显示怒气消耗的问题。</li>
	<li>（△）修复了自动叠甲装置在选择返回时会提示该道具不存在的显示问题，虽然区别不是很大。</li>
	<li>（△）卡片【试雪汉】现在不再纳入终生成就判定了。</li>
	<li>（△）修复了某些情况下战斗后升级时会触发两次增加歌魂的问题。</li>
	<li>（△）修复了教程模式可以提前把NPC打死并拿走武器，让NPC再次出现时无法正常攻击的问题。现在拿走NPC的道具时，NPC的武器会被设置成拳头。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（+）现在开局道具和配方合成也支持复合属性自动编码了。</li>
</ul>
<h3>1月5日(v2.0.4)</h3>
<p>功能更新：</p>
<ul>
	<li>（△）现在卡片【圣殿的紫色隐士】的技能【神隐】在玩家死亡后将会释放被捕获的NPC。另外被神隐的NPC现在不再会行动了。</li>
	<li>（△）优化了NPC行动的逻辑，减少了NPC死亡后反复判定导致的资源消耗。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（△）称号【铁拳无敌】的负面技能【尊严】的效果改为：徒手攻击或者使用名字带“拳”字的武器攻击时没有伤害惩罚，使用其他钝器或者锐器攻击则伤害<span class="red b">减少50%</span>，使用其他系武器攻击则是<span class="red b">减少90%</span>。</li>
	<li>（△）仅在荣耀模式测试：称号【高速成长】、【肌肉兄贵】和【铁拳无敌】的类别改为普通技能，会在称号选择列表的前两行而不是后两行出现。此外，荣耀模式铁拳的出现概率从其他称号的40%上调到与其他称号相同。</li>
	<li>（+）称号【高速成长】添加了新的战斗技【神启】：本次攻击附加<span class="yellow b">40</span>点最终伤害，且额外触发称号特性“<span class="yellow b">高速</span>”<span class="yellow b">1</span>次，若击杀敌人则再触发<span class="yellow b">2</span>次，消耗<span class="yellow b">25</span>点怒气，<span class="yellow b">3</span>级时解锁。</li>
	<li>（△）称号【富家子弟】的称号技能【佣兵】的效果修改：现在雇主可以与被解雇的佣兵正常进战斗，较弱的佣兵被解雇时会随机移动到一个地点（原先为留在原地），较强的佣兵被解雇时会真正地离开战场（原先为将该佣兵的位置改为999……呃啊）。</li>
	<li>（△）现在葡萄和脸也可以被水果刀削皮了。另外，现在荣耀模式的水果刀可以当做具有【碎甲】属性的锐器使用了。</li>
	<li>（△）微调了卡片【最后密传】技能【炼狱】的描述（实际效果不变）。</li>
	<li>（△）卡片【八意制药】制造的【国士无双之药】在使用时增加了效果描述。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）现在无法在装备着非防具道具的部位上套外甲了。</li>
	<li>（△）修复了装备着无属性投掷武器作为箭矢的弓、套有无属性外甲的防具可以进行菁英强化的问题。</li>
	<li>（△）现在试炼模式的负面技能【蚀骨】减少生命值上限时不再会将升血带来的多余生命值清空了。</li>
	<li>（△）修复了玩家最新一局游戏的记录错误（仅影响后台查看）。</li>
	<li>（△）修复了查看2018年和2017年更新记录的按钮功能错误的问题。</li>
	<li>（△）修复了PVP组队模式玩家同时死亡时不会因为全灭而游戏结束的问题。</li>
</ul>
<p>
<p>底层和开发相关：</p>
<ul>
	<li>（+）把战斗中获得切糕拆分成单独模块，并且修改了部分模块错误的依赖。</li>
	<li>（△）现在复合属性自动编码支持嵌套了。</li>
</ul>

<h3>1月2日(v2.0.3)</h3>
<p>功能更新：</p>
<ul>
	<li>（△）优胜列表增加了按试炼模式选择的选项。</li>
	<li>（△）现在教程房不会因为玩家提前击杀人偶拿走金钱而无法继续游戏了。现在人偶将在指定的步骤之后才会携带足够的金钱。</li>
	<li>（△）现在只有在标准、随机、卡片、PVE、伐木和荣耀模式下，三女主身上会携带【纸条AC】了。也就是说现在支持给会二阶段变身的NPC根据不同游戏模式来搭配不同的道具。</li>
</ul>
<p>资源更新：</p>
<ul>
	<li>（+）荣耀模式商店【远程兵器】类别添加了技能书《旋转引导扇区》，使用后能获得射系武器弹夹翻倍且战斗后会自动从包裹中装填弹药的技能，售价600元。除此之外，消音器降价为450元，且售卖数量增加为2个。此项更新目前仅在荣耀模式进行测试。</li>
	<li>（△）卡片【最后密传】的效果写成了击杀30个敌人发动，实际是15个，现在这一笔误已经修复。</li>
	<li>（△）红暮和蓝凝的两个DUMMY现在有死亡台词了……算有吗？</li>
	<li>（△）试炼模式使用的隐藏卡片替换了，与卡池中实际存在的卡以示区别，效果则与原来相同。</li>
	<li>（△）试炼模式成就图标更新了。</li>
</ul>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了试炼模式本应20层连斗，实际18层就进入连斗的问题。</li>
	<li>（△）修复了被其他人下毒的补给毒死后不显示凶手的问题。另外现在中自己下的毒时不会再次读取自己的数据，避免丢失临时变量。</li>
</ul>
<p>底层和开发相关：</p>
<ul>
	<li>（+）模块系统新增了自动检测新增模块的功能，现在不用手敲目录名了。</li>
	<li>（△）把游戏模式相关的一些设定从system.config.php拆分出来形成gamemode.config.php。</li>
	<li>（△）调整了管理后台的一些显示。</li>
	<li>（△）调整了【权限狗的ID卡】生成的权限套装的强度，现在开局就能把HP升到2000以上，并且携带一个装有大堆测试道具的背包，方便进行测试。</li>
</ul>

<div id="show2023">
	<p>以上是2024年以后的更新日志。</p>
	<form method="post" action="updatelist.php" name="updatelist2023">
		<input type="hidden" id="y2023" name="y" value="2023">
		<input type="button" onclick="$('show2023').style.display='none';$('cont2023').style.display='block';postCmd('updatelist2023','updatelist.php');$('y2023').name='y2023';" value="查看2023年的更新日志">
	</form>
</div>
<div id="cont2023" style="display:none">
</div>