<!--
TODO LIST：
肉鸽模式：
√、新玩家入场时商人会跑到无月之影
√、地图页面显示的改动
3、探测器显示的适配
4、商人对白、商人数值调整
√、查看奖励和查看任务需要有快捷键
6、开头和专属结局
7、任务调查度的数值调整
8、妖幻碎片的遗言等
√、寻路花钱替换任务需要有更明显提示
10、更换任务之后显示顺序比较反常识，会以为没换（其实换了以后排到后面了，前面几个比较像的还在）
11、肉鸽房结束后在首页直接再开会报错的问题→重新生成素材的问题

BUGs TO FIX：
1、加入房间的过程中退出账号会导致异常的问题
2、某些情况下两个倒计时叠加的问题
3、

LARGE PROJECTS TO ADD:
1、卡片相关的一级php的变量名整理，重构选卡界面。
2、公路模式的剧情、敌人、地图和道具的整体模组式策划。
3、职人、电波幽灵去版权化、英灵殿移出主线，剧情和游戏路线相应调整
4、不同类别的商店功能（商店设置组）
5、延时伤害模块，玩家发出攻击指令之后，对方玩家可以有一个非常短的时间窗口进行互动。和2D地图可能是互斥的，看情况了。
6、
7、对php文件里的字符串也进行js编码
8、自定义快捷键功能。
9、
10、
11、开局互动式剧情操作
12、试炼模式进一步优化：更丰富的剧情和特殊挑战层数

LARGE PROJECTS TO ADD BUT NOT THAT IMPORTANT:
-不太急：帮助界面现代化改造，包括左右分栏、内容展开、搜索功能、提示内容数据库化（更新履历、提示、帮助等共用一套用词等）模拟游戏界面和提示、资源类帮助特有界面等
-不太急：
-不太急：乱斗类房间，不组队，不限人数，开局即连斗
-不太急：录像记录进行状况和聊天。聊天可以自由开关是否记录。不算很急迫的功能，可以等人多了再弄，或者劝诱一个新程序员来弄


FEATURES TO ADD：
1、
2、荣耀模式测试：坚盾属性可抵扣穿透属性，物穿和属穿改成可以叠加穿透层数（类似连击的算法）。抹消和减半各算1层
3、荣耀模式测试：多个减半防御可叠加，并且增加多段减半防御属性。
4、道具展柜改到用户首页也能显示，和成就并列
5、刺激市场的看板娘和界面调整、抽卡界面调整
6、天气模块整体修改，数值平衡调整
7、init_battle()烂代码整理
8、CSS打字机效果
9、动漫婆罗门卡资源完善
10、写一下技能系统和成就系统的文档，新旧差别太大了
11、远期构想：硬核药物模式：使用补给和异常状态药剂时，先进入一个持续数秒的药物debuff，debuff结束后才产生回复效果
12、配合上面那条，可以加一个即时属性，有即时属性的药物的debuff时间极短
13、冲击属性带层数
14、兼容FF的滚动条
15、界面按钮的布局调整（同类合并或者悬浮等）
16、自动log动了以后的讯息恢复机制
17、操作界面的按钮改成自动排序的，而不是现在手动加。已经加了一个用来干这个的函数了，找个空把已有按钮全部干掉
18、本地构建避免覆盖服务端config文件，或者增加一个自动重生成config文件的功能
19、成就可完成性应该改用标签来界定和显示，所有房间增加标签
20、技能图标重置
21、卡牌包类型重写。
22、后台更精确地调整房间可用性的功能
23、陷阱部分的烂代码重写
24、
25、

FEATURES TO ADD BUT NOT THAT IMPORTANT：
-不太急：竞速挑战类成就都增加排行榜。意义好像不是很大
-不太急：连斗机制修改成与$gamestate相互独立的，意义可能不太大，有空再做
-不太急：parse_news()的一大堆if在继承的情况下可能严重影响性能，用数组和替换的方式改造吧。收益可能非常小，真闲的时候再改
-不太急：赛季机制，也就是定期把积分情况改存到荣誉等级。等玩家数多了再弄也行
-不太急：不同房间类型的banner，等界面有一定改造后再做
-不太急：录像存档专用服的建设与转移。
-不太急：诡雷属性。现在人少，PVP类的功能可以迟点弄。
-不太急：伐木记录搜索金钱数、试炼模式记录等级。可以等人多了再弄，或者劝诱一个新程序员来弄。
-不太急：蹲站房发送空投箱，视蹲站房反馈再做。
-不太急：技能、学习界面性能优化（把技能页面的分隔字符串在template时固化下来）。已经实现函数了，但是大规模调整代码之前还是要谨慎一点，而且性能影响可能很微小

-->
<h3>1月20日(v2.4.9)</h3>
<p>大家新年快乐！这段时间很忙，难以保持更新频率，请大家见谅！</p>
<p>已知BUG修复：</p>
<ul>
	<li>（△）修复了在具有一定等级的【灵力】技能并使用0效灵力兵器攻击时会卡死的问题。</li>
	<li>（△）修复了【碎甲】属性武器在攻击耐久为∞的装备时会卡死的问题。</li>
</ul>
<p>其他更新相关：</p>
<ul>
	<li>（△）因000服储存空间限制，转移了2017至2019年的录像。这些录像无法在000服直接看到，而是会改存放到专用的录像服务器，尽请期待。</li>
</ul>

<div id="show2024">
	<p>以上是2025年以后的更新日志。</p>
	<form method="post" action="updatelist.php" name="updatelist2024">
		<input type="hidden" id="y2024" name="y" value="2024">
		<input type="button" onclick="$('show2024').style.display='none';$('cont2024').style.display='block';postCmd('updatelist2024','updatelist.php');$('y2024').name='y2024';" value="查看2024年的更新日志">
	</form>
</div>
<div id="cont2024" style="display:none">
</div>